@model WebApplication2.ViewModel.AdminViewModel

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*<link href="~/Content/AdminProfileStyle.css" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" href="~/Content/courseListStyle.css">
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

        .button-17 {
            align-items: center;
            appearance: none;
            background-color: #fff;
            border-radius: 24px;
            border-style: none;
            box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
            box-sizing: border-box;
            color: #3c4043;
            cursor: pointer;
            display: inline-flex;
            fill: currentcolor;
            font-family: "Google Sans",Roboto,Arial,sans-serif;
            font-size: 14px;
            font-weight: 500;
            height: 48px;
            justify-content: center;
            letter-spacing: .25px;
            line-height: normal;
            max-width: 100%;
            overflow: visible;
            padding: 2px 24px;
            position: relative;
            text-align: center;
            text-transform: none;
            transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: auto;
            will-change: transform,opacity;
            z-index: 0;
            margin: 20px;
        }

            .button-17:hover {
                background: #F6F9FE;
                color: #174ea6;
            }

            .button-17:active {
                box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
                outline: none;
            }

            .button-17:focus {
                outline: none;
                border: 2px solid #4285f4;
            }

            .button-17:not(:disabled) {
                box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
            }

                .button-17:not(:disabled):hover {
                    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
                }

                .button-17:not(:disabled):focus {
                    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
                }

                .button-17:not(:disabled):active {
                    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
                }

            .button-17:disabled {
                box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
            }
    </style>
</head>

<body>
    <div class="sidebar">

        <ul class="nav-links">
            <li>
                <a>
                    <form method="post" action="/admin/adminprofile">
                        <input type="hidden" name="email" value="@Session["Email"]">
                        <button style="background: none; border: none;" type="submit">
                            <i class='bx bxs-user'></i>
                            <span class="links_name">My Profile</span>
                        </button>
                    </form>
                </a>
            </li>
            <li>
                <a>
                    <form method="get" action="/admin/updateadmin">

                        <input type="hidden" name="email" value="@Session["Email"]">
                        <button style="background: none; border: none;" type="submit">
                            <i class='bx bxs-user'></i>
                            <span class="links_name">Update Profile</span>
                        </button>
                    </form>
                </a>
            </li>
            <li>
                <a>
                    <form action="/admin/courselist" method="post">

                        <input type="hidden" value="@Session["Email"]" name="email">
                        <button style="background: none; border: none;" type="submit">
                            <i class='bx bx-book'></i>
                            <span class="links_name">
                                Course
                                List
                            </span>
                        </button>
                    </form>
                </a>
            </li>

            <li>
                <a>
                    <form action="/admin/addCourses" method="post">

                        <input type="hidden" value="@Session["Email"]" name="email">
                        <button style="background: none; border: none;" type="submit">
                            <i class='bx bx-add-to-queue'></i>
                            <span class="links_name">
                                Add
                                Course
                            </span>
                        </button>
                    </form>
                </a>
            </li>
            <li>
                <a href="http://11.0.0.183/" target="_blank">
                    <i class="bx bx-message"></i>
                    <span class="links_name">SmatBot</span>
                </a>
            </li>
            <li>
                <a>
                    <form action="/admin/register" method="get" onsubmit="return confirm('Are you sure you want to logout?');">

                        <button style="background: none; border: none;" type="submit">
                            <i class='bx bx-log-out'></i>
                            <span class="links_name">Logout</span>
                        </button>
                    </form>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <span class="bannerImage">
                    <img src="https://drive.google.com/uc?export=view&id=1DCdBACp5Ibixr7ov1W-iF4TTDrnydc4O" />
                </span>
                <span class="dop">Directorate of Personnel</span>
                <span class="adminSitetext"> Admin Site</span>
            </div>
        </nav>
    </section>

    @{
        //course id of selected course from course list page
        int course_id = Int16.Parse(ViewBag.course_id);

        var course_details = Model.Course.FirstOrDefault(r => r.course_id.Equals(course_id));
        var branch = Model.Course.FirstOrDefault(r => r.course_id.Equals(course_id)).branch;
        var course_name = Model.Course.FirstOrDefault(r => r.course_id.Equals(course_id)).course_name;
        var course_no = Model.Course.FirstOrDefault(r => r.course_id.Equals(course_id)).courseno;
        var location = Model.Course.FirstOrDefault(r => r.course_id.Equals(course_id)).location;
        var duration = Model.Course.FirstOrDefault(r => r.course_id.Equals(course_id)).duration;
        var commence_date = Model.Course.FirstOrDefault(r => r.course_id.Equals(course_id)).commencement_date;


        var course_conditions = Model.CourseCondition.Where(r => r.course_id.Equals(course_id)).ToArray();


        var course_implications = Model.CourseImplication.Where(r => r.course_id.Equals(course_id)).ToArray();
        var career_path="";
        var posting_location = "";
        var field = "";
        for (var i = 0; i < course_implications.Length; i++)

        {
            if(course_implications[i].implication_id == 1)
            {
                career_path = course_implications[i].implication_value;
            }
            if (course_implications[i].implication_id == 2)
            {
                field = course_implications[i].implication_value; 
            }

            if (course_implications[i].implication_id == 3)
            {
                posting_location = course_implications[i].implication_value;
            }


        }

    }


    <section style="padding:7em 0; padding-bottom:1em;" class="ftco-section">
        <div class="container" style="margin-left:300px;margin-right:50px;">
            <h1 style="justify-content: center; align-items: center; align-content: center; display: flex; font-size: xx-large; color: white;  margin: 10px;">Preview</h1>
     

            @{

                string rank="";

                for (var i = 0; i < course_conditions.Length; i++)

                {
                    var cond_name = Model.Condition.FirstOrDefault(r => r.condition_id.Equals(course_conditions[i].condition_id)).condition_name;
                    if (cond_name.Equals("rank"))
                    { rank = course_conditions[i].condition_value; }

                }


            }
            <div id="myModal" class="modal">

                <div class="modal-content">


                    @{
                        var dateAndTime = DateTime.Now;
                        var date = dateAndTime.Date.ToString();

                        var getDate = date.Split('/');

                        String s = dateAndTime.ToString("HH:mm");

                        var time = s.Split(':');

                        var end_date = commence_date.AddDays(duration).ToString("dd.MM.yy");


                    }
                <div>
                    <table style="margin-top:50px;">
                        <tr>
                            <td style="width: 900px">
                                <table>
                                    <tr>
                                        <td style="width: 150px">DTG</td>
                                        <td style="width: 150px">@getDate[1]@time[0]@time[1]</td>
                                    </tr>
                                    <tr>
                                        <td>FROM</td>
                                        <td>NHQ</td>
                                    </tr>
                                    <tr>
                                        <td>TO</td>
                                        <td>221IG</td>
                                    </tr>
                                </table>
                            </td>
                           
                        </tr>
                    </table>

                    <hr>

                    <div>
                        <p>
                            For TRI-SERVICES USE SELF CANCELLING VOLUNTEERS REQUIRED OF RANK <span> @rank</span> of <span>@branch</span>  for <span> @course_name </span>COURSE(<span> @course_no</span>) at <span>@location</span>
                            FOR DURATION OF <span>@duration</span> WEEKS STARTING FROM <span>@commence_date</span> TO <span id="enddate">@end_date</span>.
                            <br />
                            UPON CLEARING THE COURSE THE PATH OF CAREER FOR THE OFFICER WILL BE :<span>@career_path</span>
                            <br />
                            QUALIFIED OFFICERS WILL BE CONSIDERED FOR APPOINTMENT TO <span>@posting_location</span> AS <span>@field</span>
                        </p>


                        @*<p>
            For TRI-SERVICES USE SELF CANCELLING VOLUNTEERS REQUIRED OF RANK <span> @cond_name</span> of <span id="branch"></span>  for <span id="course_name"> COURSE </span>(<span id="course_no"></span>) at <span id="location"></span>
            FOR DURATION OF <span id="duration"></span> WEEKS STARTING FROM <span id="date"></span> TO <span id="enddate"></span>.
            <br />
            UPON CLEARING THE COURSE THE PATH OF CAREER FOR THE OFFICER WILL BE :<span id="pathOfCareer"></span>
            <br />
            QUALIFIED OFFICERS WILL BE CONSIDERED FOR APPOINTMENT TO <span id="postingLocation"></span> AS <span id="field_Posting"></span>
        </p>*@

                    </div>

                    <br><br><br><br>
                    <div style="display:flex;justify-content:center;align-items:center;">
                        <a href="/admin/courselist"><button type="button" class="button-17" role="button">Back to CourseList</button></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>


    <script>

        function submitForm() {
            document.getElementById("getdetails").submit();

        }
        let sidebar = document.querySelector(".sidebar");

        let sidebarBtn = document.querySelector(".sidebarBtn");


        sidebarBtn.onclick = function () {

            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            }
            else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>
</body>

</html>



